# build
config.log
config.status
autom4te.cache/
ipe.mk
**/Makefile
INSTALL.mac.m3max.original

# compiler output
*.o
*.mod
*.a
*.x

#install
IPE_INSTALL/
install/

#test
test/data
test/run*
test/regression
test/fcst.log
test/test.diff
test/test_all.diff

test/fetch_sme_indices.py
test/plot_aurora_drivers_dial.py
test/plot_molecular_ions_tube.py
test/plot_ne120_aurora_check.py
test/plot_ne_polar_dial.py

# Python
__pycache__

.DS_Store